.modal-content{
  height: 100%!important;
  background: var(--grey-blue02-)!important;
  border-radius: 5px 0 0 0!important;
}

#iframePagemainContentCnt
{
    height: calc(100vh - 100px)!important;
}

.content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.tab-content{
  padding: 20px;
}

.switch{
 width: 100px!important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(80px)!important;
    -ms-transform: translateX(80px)!important;
    transform: translateX(80px)!important;
}

.slider{
  background: var(--text-color-);
}

input:checked + .slider {
    background: var(--blue-)!important;
}

#addWidgetWizardLabelBody
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    
    
}
 
/* nel caso si desideri mantenere la scrollbar per il body ed eliminarla per altri blocchi div  */
/*#addWidgetWizardLabelBody::-webkit-scrollbar{
    width: 0px;
}

#widgetWizardTableContainer::-webkit-scrollbar{
    width: 0px;
}
*/

/*::-webkit-scrollbar{
    width: 0px;
}*/


/*#addWidgetWizardLabelBod
{
    overflow-y: hidden;
    height: 100vh !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}*/

#addWidgetWizardLoadingMsg, #addWidgetWizardOkMsg, #addWidgetWizardKoMsg
{
    display: none;
}

#addWidgetWizard2 div.modal-dialog
{
    width: 100vw;
}
#addWidgetWizard2 div.dialog
{
    width: 100vw;
}

/*#widgetWizardTableContainer, */#highLevelTypeMainContainer, #natureMainContainer, #subnatureMainContainer, #lowLevelTypeMainContainer, #instanceMainContainer, #linkMainContainer, #unitMainContainer, #lastDateMainContainer, #lastValueMainContainer
{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-x:scroll;
}

#widgetWizardTableContainer
{
    padding-left: 15px !important;
    padding-right: 0px !important;
    /*overflow-x:hidden !important; */
    overflow-y: hidden;
    width: 99% !important;
}

#widgetWizardTableContainer2
{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-x:auto !important;
}

#widgetWizardTable label.checkbox
{
    font-size: 12px !important;
    padding: 0px 20px 0px 25px !important
}

#widgetWizardTable2 label.checkbox
{
    font-size: 12px !important;
    padding: 0px 20px 0px 25px !important
}

#widgetWizardTable tbody tr:hover, #widgetWizardTable2 tbody tr:hover, #widgetWizardSelectedRowsTable tbody tr:hover, #widgetWizardSelectedRowsTable2 tbody tr:hover
{
    cursor: pointer;
    background-color: #f3cf58;
    font-weight: bold;
}

#addWidgetWizardConfirmBtnContainer
{
    display: none;
}

#addWidgetWizardConfirmBtn
{
    /*display: none;*/
}

#addWidgetWizardConfirmBtn2Container
{
    display: none;
}

#addWidgetWizardConfirmBtn2
{
    /*display: none;*/
}


div.addWidgetWizardColTitle
{
    background-color: rgba(0, 162, 211, 1);
    color: white;
    font-size: 1em;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div.addWidgetWizardColTitle2
{
    background-color: rgba(0, 162, 211, 1);
    color: white;
    font-size: 1em;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div.addWidgetWizardColContent
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

table.addWidgetWizardTable, table.addWidgetWizardTableSelected
{
    width: 100% !important;
    border-collapse: collapse;
    font-size: 0.7em;
    overflow-y: hidden;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: none !important;
    /*height: 200px !important;*/
}

table.addWidgetWizardTable
{
    height: 200px !important;
}

table.addWidgetWizardTable thead
{
    height: 56px !important;
}

table.addWidgetWizardTable tbody
{
    height: 144px !important;
}

#widgetWizardSelectedRowsTableContainer.col-xs-12
{
    padding-left: 15px !important;
    padding-right: 0px !important;
    overflow-x: hidden !important;
    overflow-y: hidden;
    width: 99% !important;
}

#widgetWizardSelectedRowsTableContainer2.col-xs-12
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* table.addWidgetWizardTable > tbody > tr, table.addWidgetWizardTableSelected > tbody > tr
{
   font-size: 11px;
}

table.addWidgetWizardTable > tbody .widgetWizardTableBoldCell, table.addWidgetWizardTableSelected > tbody .widgetWizardTableBoldCell
{
    font-weight: bold;
    color: #576c75;
    font-size: 12px;
}

table.addWidgetWizardTable tbody td, table.addWidgetWizardTableSelected tbody td
{
    line-height: 1 !important;
    padding: 1px 0px 1px 0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    border: none !important;
} */

thead.widgetWizardColTitle
{
    background: var(--dark-grey04-);
    color: var(--text-color-);
    font-size: 1.2em;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*float: left;*/
}

thead.widgetWizardColTitle2
{
    background: var(--dark-grey04-);
    color: var(--text-color-);
    font-size: 1.2em;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*float: left;*/
}

#modalStartWizardFooter
{
    background-color: rgba(108, 135, 147, 1);
}
#modalStartWizardFooter2
{
    background-color: rgba(108, 135, 147, 1);
}

tr.widgetWizardRow
{
    border-collapse: collapse;
}

tr.widgetWizardRow:hover
{
    background-color: lavender;
}

th.widgetWizardTitleCell
{
    border-collapse: collapse;
    /*border: 1px solid #eeeeee;*/
    text-align: center;
}

#widgetWizardTable th, #widgetWizardTable thead td
{
    border: none !important;
    font-size: 12px;
}

#widgetWizardTable2 th, #widgetWizardTable2 thead td
{
    border: none !important;
    font-size: 12px;
}

table.dataTable thead th, table.dataTable thead td
{
    padding: 4px 10px !important;
}

#widgetWizardTable tbody tr:hover
{
    cursor: pointer;
}

#widgetWizardTable2 tbody tr:hover
{
    cursor: pointer;
}

#widgetWizardTable.dataTable tbody tr.selected
{
    background-color: var(--green-)!important;
    color: var(--dark-grey01-);
}

#widgetWizardTable2.dataTable tbody tr.selected
{
    background-color: #c3ffc1 !important;
    font-weight: bold !important;
}

#widgetWizardTable button.multiselect 
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0px;
    background-color:  var(--blue-)!important;
    border: none !important;
    color: var(--grey-blue04-)!important;
}

#widgetWizardTable2 button.multiselect2 
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 0px;
    background-color:  var(--blue-)!important;
    border: none !important;
    color: var(--grey-blue04-)!important;
}

#widgetWIzardTableSearch
{
    height: 23px !important;
    font-size: 10px;
    font-weight: normal;
    background-color: #576c75 !important;
    color: white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid white !important;
}

#widgetWIzardTableSearch::placeholder
{
    color: white !important;
}

/* #widgetWizardTableCommandsContainer, #widgetWizardTableCommandsContainer2, #widgetWizardSelectedRowsTableCommandsContainer, #widgetWizardSelectedRowsTableCommandsContainer2
{
    background-color: #576c75;
} */

#widgetWizardTable_filter label, #widgetWizardTable2_filter label, #widgetWizardTable_filter input, #widgetWizardTable2_filter input, #widgetWizardSelectedRowsTable_filter input, #widgetWizardSelectedRowsTable2_filter input 
{
    width: 100%;
    margin-bottom: 0px !important;
}

#widgetWizardTableHideColsMenu.dropdown-menu > li > a
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
}

#widgetWizardTableHideColsMenu2.dropdown-menu > li > a
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
}


#widgetWizardTable ul.dropdown-menu > .active > a
{
    background-color: white !important;
    color: #333 !important;
}

#widgetWizardTable2 ul.dropdown-menu > .active > a
{
    background-color: white !important;
    color: #333 !important;
}

#widgetWizardTableRow, #widgetWizardTableRow2, #widgetWizardSelectedRowsTableRow, #widgetWizardSelectedRowsTableRow2
{
    margin-top: 20px;
}

td.widgetWizardCell
{
    border-collapse: collapse;
    border: 1px solid #eeeeee;
    text-align: center;
}

tr.highLevelTypeRow, tr.natureRow, tr.subnatureRow, tr.lowLevelTypeRow, tr.instanceRow, tr.linkRow, tr.unitRow, tr.lastDateRow, tr.lastValueRow
{
    border-collapse: collapse;
}

td.highLevelTypeCell, td.natureCell, td.subnatureCell, td.lowLevelTypeCell, td.instanceCell, td.linkCell, td.unitCell, td.lastDateCell, td.lastValueCell
{
    border-collapse: collapse;
    border: 1px solid #eeeeee;
}

td.highLevelTypeCell:hover
{
    cursor: pointer;
    background-color: orange;
}
td.natureCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.subnatureCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.lowLevelTypeCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.instanceCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.linkCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.unitCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.lastDateCell:hover
{
    cursor: pointer;
    background-color: orange;
}

td.lastValueCell:hover
{
    cursor: pointer;
    background-color: orange;
}

input.testCheckInput{
    display:none;
}

.widgetTableActive { 
    background-color: lavender
}

.widgetTableInactive {
    background-color: white;
}

.multiselect-selected-text {
    font-size: 10px;
}

.multiselect2-selected-text {
    font-size: 10px;
}


.icons-mono-container {
    float: left;
    clear: none; 
    width: 48%;
    background-color: lavender;
    overflow: auto;
}

.icons-multi-container {
    float: right;
    clear: none; 
    width: 48%;
    background-color: lavender;
    overflow: auto;
}

.iconsMonoSingleIcon, .iconsMonoMultiIcon
{
    width: 50px;
    height: 36px;
    float: left;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
/* modifica per evitare di avere icone selezionate dal cursore
.addWidgetWizardIconClickClass:hover
{
    cursor: pointer;
    border: 1px solid rgba(0, 162, 211, 1);
}

.addWidgetWizardIconClickClass2:hover
{
    cursor: pointer;
    border: 1px solid rgba(0, 162, 211, 1);
}
 autore: Bernardo Tiezzi*/ 

/*.iconTooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.iconTooltip .iconTooltipText {
    visibility: hidden;
    width: 120px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}*/

.addWidgetWizardIconTooltip
{
    font-family: 'ABeeZee'; font-size: 0.9em;
}

#widgetWizardTable_paginate .pagination
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#widgetWizardTable2_paginate .pagination
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


#widgetWizardTable_paginate .pagination > li > a, #widgetWizardTable2_paginate .pagination > li > a, .pagination > li > span, #widgetWizardSelectedRowsTable_paginate .pagination > li > a, #widgetWizardSelectedRowsTable2_paginate .pagination > li > a, .pagination > li > span
{
    border: none !important;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

#widgetWizardTable_paginate .pagination > .active > a
{
    background-color: rgba(0, 162, 211, 1);
    border-radius: 5px;
}

#widgetWizardTable2_paginate .pagination > .active > a
{
    background-color: rgba(0, 162, 211, 1);
    border-radius: 5px;
}


#widgetWizardTableSelectedRowsCounter
{
    /*height: 34px;*/
}

#widgetWizardTableSelectedRowsCounter2
{
    /*height: 34px;*/
}

#noRowsSelectedAlert
{
    display: none;
    color: #f3cf58;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px
}

#noRowsSelectedAlert2
{
    display: none;
    color: #f3cf58;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px
}

#modalAddWidgetWizardAvailabilityMsg
{
    display: none;
    font-size: 12px;
    color: #f3cf58;
    font-weight: bold;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
}

#addWidgetWizardWidgetAvailableMsg
{
    font-size: 12px;
    color: #f3cf58;
    font-weight: bold;
    font-style: italic;
}

#addWidgetWizardWidgetAvailableMsg2
{
    font-size: 12px;
    color: #f3cf58;
    font-weight: bold;
    font-style: italic;
}

#choosenDashTemplateLbl, #choosenDashTemplateImg
{
    display: none;
}

#choosenDashTemplateImg
{
    height: 225px;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#widgetWizardTableCommandsContainer #resetButton.cancelBtn/*, #FreezeMap.cancelBtn*/ 
{
    font-weight: bold;
    font-size: 12px !important;
    padding: 0px 12px !important;
}

#GPSUser.cancelBtn/*, #FreezeMap.cancelBtn*/ 
{
    font-weight: bold;
    font-size: 12px !important;
    padding: 0px 12px !important;
}

#GPSOrg.cancelBtn/*, #FreezeMap.cancelBtn*/ 
{
    font-weight: bold;
    font-size: 12px !important;
    padding: 0px 12px !important;
}

#SynMode.cancelBtn/*, #FreezeMap.cancelBtn*/ 
{
    font-weight: bold;
    font-size: 12px !important;
    padding: 0px 12px !important;
}

#StdMode.cancelBtn/*, #FreezeMap.cancelBtn*/ 
{
    font-weight: bold;
    font-size: 12px !important;
    padding: 0px 12px !important;
}

#widgetWizardTableCommandsContainer2 #resetButton2.cancelBtn
{
    font-weight: bold;
    font-size: 12px !important;
    padding: 0px 12px !important;
}

#widgetWizardTable_paginate li.paginate_button, #widgetWizardTable2_paginate li.paginate_button, #widgetWizardSelectedRowsTable_paginate li.paginate_button, #widgetWizardSelectedRowsTable2_paginate li.paginate_button
{
    font-size: 12px !important;
}

#widgetWizardSelectedRowsTable_paginate .pagination
{
    margin: 0px 0px 0px 0px !important;
}

#widgetWizardSelectedRowsTable2_paginate .pagination
{
    margin: 0px 0px 0px 0px !important;
}


#widgetWizardTable_paginate .pagination > li > a, #widgetWizardTable2_paginate .pagination > li > a, #widgetWizardSelectedRowsTable_paginate .pagination > li > a, #widgetWizardSelectedRowsTable2_paginate .pagination > li > a 
{
    padding: 0px 12px !important;
}

#widgetWizardTableCommandsContainer button.confirmBtn
{
    padding: 0px 12px !important;
    font-size: 12px !important;
    line-height: 1 !important;
}

#widgetWizardTableCommandsContainer2 button.confirmBtn
{
    padding: 0px 12px !important;
    font-size: 12px !important;
    line-height: 1 !important;
}

#widgetWizardTable_filter input[type=search], #widgetWizardTable2_filter input[type=search], #widgetWizardSelectedRowsTable_filter input[type=search], #widgetWizardSelectedRowsTable2_filter input[type=search] 
{
    font-size: 12px !important;
    height: 18px !important;
}

.widgetWizardSelectedRowsDelBtn
{
    font-size: 16px;
    color: rgba(0, 162, 211, 1);
}

.widgetWizardSelectedRowsDelBtn:hover
{
    color: red;
}

.dashboardWizardTabTxt
{
    color: white !important;
    font-weight: bold !important;
}

#addWidgetWizard2 ul.nav>li.active>a
{
    background-color: transparent !important;
    color: #fff;
    border-bottom: none !important;
}

#addWidgetWizard2 ul.nav>li>a:hover
{
    background-color: transparent !important;
    color: #fff;
    font-style: italic;
}
/*aggiunto da bernardo tiezzi*/
#addWidgetWizardLabelBody ul.nav>li>a:hover
{
    background-color: transparent !important;
    color: #fff;
    font-style: italic;
}
/*aggiunto da bernardo tiezzi*/
#addWidgetWizardLabelBody ul.nav>li.active>a
{
    background-color: transparent !important;
    color: #fff;
    border-bottom: none !important;
}
#widgetWizardActuatorFieldsRow
{
    display: none;
    background-color: transparent;
    padding-left: 15px !important; 
    padding-right: 15px !important;
}

#widgetWizardActuatorFieldsRow2
{
    display: none;
    background-color: transparent;
    padding-left: 15px !important; 
    padding-right: 15px !important;
}

.widgetWizardActuatorCell
{
    background-color: #576c75 !important;
    height: 40px !important;
}

.wizardActLbl
{
    color: white;
    font-weight: bold;
    font-size: 12px !important;
}

#widgetWizardActuatorFieldsRow .form-control
{
    height: 20px !important;
    padding: 0px !important;
    font-size: 12px !important;
    border-radius: 0px !important;
}

#widgetWizardActuatorFieldsRow2 .form-control
{
    height: 20px !important;
    padding: 0px !important;
    font-size: 12px !important;
    border-radius: 0px !important;
}

#actuatorTargetCell .wizardActLbl, 
#actuatorTargetCell .wizardActInputCnt, 
#actuatorTargetCell2 .wizardActLbl, 
#actuatorTargetCell2 .wizardActInputCnt, 
#actuatorEntityNameCell .wizardActLbl, 
#actuatorEntityNameCell .wizardActInputCnt, 
#actuatorEntityNameCell2 .wizardActLbl, 
#actuatorEntityNameCell2 .wizardActInputCnt, 
#actuatorValueTypeCell .wizardActLbl, 
#actuatorValueTypeCell .wizardActInputCnt,
#actuatorValueTypeCell2 .wizardActLbl, 
#actuatorValueTypeCell2 .wizardActInputCnt,
#actuatorMinBaseValueCell .wizardActLbl,
#actuatorMinBaseValueCell .wizardActInputCnt,
#actuatorMinBaseValueCell2 .wizardActLbl,
#actuatorMinBaseValueCell2 .wizardActInputCnt,
#actuatorMaxBaseValueCell .wizardActLbl, 
#actuatorMaxBaseValueCell .wizardActInputCnt
#actuatorMaxBaseValueCell2 .wizardActLbl, 
#actuatorMaxBaseValueCell2 .wizardActInputCnt
{
    display: none;
}

#summary
{
    color: white;
}

#summary2
{
    color: white;
}


.summaryLbl
{
    color: #f3cf58;
    font-weight: bold;
    font-size: 14px !important;
    margin-top: 15px;
}

#summaryTable
{
    width: 100%;
}

#summaryTable2
{
    width: 100%;
}


#summaryTable thead
{
    background-color: #576c75 !important;
    color: white;
}

#summaryTable2 thead
{
    background-color: #576c75 !important;
    color: white;
}


#summaryTable td, #summaryTable th, #summaryTable2 td, #summaryTable2 th
{
    text-align: center;
}

#summaryTable td, #summaryTable2 td
{
    color: #576c75;
}

tr.summaryTableRow:nth-child(odd)
{
    background-color: #f9f9f9;
}

tr.summaryTableRow:nth-child(even)
{
    background-color: #ffffff;
}

.singleWidgetIconCnt
{
    width: 150px;
    height: 108px;
    float: left;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#dashboardTemplatesInnerCnt
{
    height: 570px;
    overflow-y: auto;
}

#dashboardTemplatesInnerCnt2
{
    height: 570px;
    overflow-y: auto;
}

#wizardNotCompatibleRowsAlert
{
    display: none;
}


#wizardNotCompatibleRowsAlert2
{
    display: none;
}


.addWidgetWizardIconsCntSublabel
{
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.addWidgetWizardIconsCntLabelBig
{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.validityConditionIcon
{
    color: #f3cf58;
    font-size: 48px;
}

.validityConditionLbl
{
    color: #f3cf58;
    font-size: 14px;
}

.summaryLblIcon
{
    color: rgba(0, 162, 211, 1);
    font-size: 48px;
}

#summaryDiv, #wrongConditionsDiv, #summaryDiv2, #wrongConditionsDiv2
{
    margin-top: 15px;
}

.modalAddDashboardWizardChoiceSubtxt
{
    font-size: 12px;
    font-weight: normal;
    color: white;
}

#summaryContainer, #checkContainer, #checkContainer2, #instantiateBtnContainer, #instantiateBtnContainer2, #summaryContainer2
{
    border: none;
    background-color: #7a939f;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#checkContainer, #checkContainer2, #instantiateBtnContainer, #instantiateBtnContainer2
{
    height: 250px;
}

#summaryContainer .addWidgetWizardIconsCntLabelBig, #summaryContainer .addWidgetWizardIconsCntSublabel,
#summaryContainer2 .addWidgetWizardIconsCntLabelBig, #summaryContainer2 .addWidgetWizardIconsCntSublabel,
#checkContainer .addWidgetWizardIconsCntLabelBig, #checkContainer .addWidgetWizardIconsCntSublabel,
#checkContainer2 .addWidgetWizardIconsCntLabelBig, #checkContainer2 .addWidgetWizardIconsCntSublabel,
#instantiateBtnContainer .addWidgetWizardIconsCntLabelBig, #instantiateBtnContainer .addWidgetWizardIconsCntSublabel,
#instantiateBtnContainer2 .addWidgetWizardIconsCntLabelBig, #instantiateBtnContainer2 .addWidgetWizardIconsCntSublabel
{
    background-color: #576c75;
}