/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-lug-2018, 11.31.53
    Author     : ipsaro
*/

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body 
{
    border:0;
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-weight: 400;
    /*border: 1px solid #c3c3c3;*/
    }

/*input[type=button], input[type=submit], input[type=reset] {
    background-color: rgba(51, 64, 69, 1);
    border: none;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    margin: 4px 30px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    font-family: inherit;
}*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(51, 64, 69, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #808080;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}