#dashboardEditHeaderMenu
{
   font-weight: normal !important;
}

.fullCtxMenuRow:hover
{
    cursor: pointer;
}

.dashHeaderColorSubmenu
{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.dashHeaderColorSubmenu:hover
{
    background-color: transparent;
    color: black;
}

div.ctxMenuPaletteColor
{
    height: 15px;
    padding-right: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: 1px solid #eeeeee;
}

div.ctxMenuPaletteColor:hover
{
    cursor: pointer;
    /*box-shadow: 5px 10px #888888;*/
}

div.contextMenuMsgRow
{
    display: none;
    font-size: 14px;
    margin-top: 15px;
}

div.contextMenuBtnsRow
{
    margin-top: 15px;
}

#dashHeaderColorPicker, #dashHeaderFontColorPicker
{
    padding-left: 0px !important; 
    padding-right: 0px !important;
}

.contextMenuQuitBtn
{
    height: 20px;
    width: 60px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #bfbfbf;
    color: white;
}

.contextMenuCancelBtn
{
    height: 20px;
    width: 60px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #f3cf58;
    color: white;
}

.contextMenuConfirmBtn
{
    height: 20px;
    width: 60px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 162, 211, 1);
    color: white;
}

.fullCtxMenu
{
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: white;
    color: rgba(51, 64, 69, 1);
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: 1px solid #bebebe;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.fullCtxMenuIcon, .fullCtxMenuTxt
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fullCtxMenuIcon
{
    font-size: 10px;
    padding-top: 5px;
    padding-left: 1px !important;
}

.fullCtxMenuTxt
{
    font-size: 13px;
    text-align: left !important;
}

#dashboardCtxMenuBtn:hover
{
    cursor: pointer;
}

.editTxtMenu
{
    display: none;
    position: absolute;
    background-color: white;
    width: 136px;
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    border: 1px solid #bebebe;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

#dashboardTitleMenu, #dashboardSubtitleMenu
{
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.editTxtMenuBtns, .editTxtMenuMsg
{
    width: 100%;
    float: left;
}

.editTxtMenuMsg
{
    display: none;
    color: black;
    margin-top: 10px;
}

#widgetInfoModalBody, #widgetInfoModalFooter
{
    background-color: rgba(108, 135, 147, 1) !important;
}

.pcPhoto
{
    margin-left: auto;
    margin-right: auto;
    display: none;
    max-width: 99px;
    max-height: 25px;
    width: 99px;
    height: 25px;
    object-fit: contain;
}

#addWidgetWizardMapCnt
{
    height: 204px;
}

#addWidgetWizardMapCnt2
{
    height: 350px;
}

.addWidgetWizardIconsCntLabel
{
    margin-bottom: 2px;
    padding-top: 0px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.addWidgetWizardIconsCntAlertLabel
{
    margin-bottom: 2px;
    padding-top: 0px;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    color: rgb(243, 207, 88);
}

#addWidgetWizard .modalHeader 
{
    background-color: rgba(51, 64, 69, 1) !important;
}

#addWidgetWizard .modal-body
{
    background-color: rgba(108, 135, 147, 1) !important;
}

#addWidgetWizard2 .modalHeader 
{
    background-color: rgba(51, 64, 69, 1) !important;
}

#addWidgetWizard2 .modal-body
{
    background-color: rgba(108, 135, 147, 1) !important;
}

#addWidgetWizard2 .body
{
    background-color: rgba(108, 135, 147, 1) !important;
}

.dataTables_length, .dataTables_filter
{
    color: white !important;
}

#modalAddDashboardWizardAvailabilityWarning
{
    color: #f3cf58;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

#authorizedPagesTableCnt
{
    height: 160px;
    overflow-y: auto;
    padding-top: 20px;
}

#updateAuthorizedPagesOkMsg, #updateAuthorizedPagesKoMsg
{
    display: none;
    font-size: 14px;
    font-weight: bold;
}

#modalEditDashboard .modal-body
{
    background-color: rgba(108, 135, 147, 1) !important;
}

#modalEditDashboard ul.nav>li.active>a
{
    background-color: transparent !important;
    color: #fff;
    border-bottom: none !important;
}

#modalEditDashboard ul.nav>li>a:hover 
{
    background-color: transparent !important;
    color: #fff;
    font-style: italic;
}

.modalNewLabel
{
    color: white;
    font-weight: bold;
}

#scrDashboardModalBody
{
    background-color: rgba(108, 135, 147, 1) !important;
}

#scrDashboardModalMsg
{
    display: none;
    color: white;
    font-weight: bold;
}

.scrDashboardDecalog
{
    color: white;
    font-size: 13px;
    line-height: 1.75;
}

#dashBckCnt
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-position: center; 
    background-size: cover;
    z-index: -1;
}

#dashBckOverlay
{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 992px) 
{
    #modalWidgetAdvancedOptions .modal-dialog
    {
        width: 50vw !important;
    }
}

#changeMetricCnt
{
    display: none;
}
#changeMetricCnt2
{
    display: none;
}

.changeMetricSelectedRowsDelBtn
{
    color: red;
    font-size: 16px;
}