body { background: #FFF; }
/*.night { background: #000; }*/

.container {
  text-align: center;
  margin: 20px auto;
}

h2 { color: #CCC; }

.bulb-light {
  position: relative;
  border: 0;
  background: transparent;
  margin: 0 auto !important;
  padding: 0 !important;
  cursor: pointer;
  display: block;
  z-index: 1;
}

#light {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0; 
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 100px rgba(255,210,00,1), inset 0px 0px 100px 90px rgba(255,210,00,0.42); 
  -moz-box-shadow: 0px 0px 100px rgba(255,210,00,1), inset 0px 0px 100px 90px rgba(255,210,00,0.42);
  -webkit-box-shadow: 0px 0px 100px rgba(255,210,00,1), inset 0px 0px 100px 90px rgba(255,210,00,0.42);
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
  width: 100%;
  height: 100%;
  background: none;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.bulb { 
  opacity: 1;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.bulb-top {
  position: relative;
  border: 0;
  margin: 0 auto;
  padding: 0;
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
  background: #E7E7E7;
  box-shadow: inset 0px 10px 15px -5px rgba(10,30,60,0.1); 
  -moz-box-shadow: inset 0px 10px 15px -5px rgba(10,30,60,0.1);  
  -webkit-box-shadow: inset 0px 20px 40px -10px rgba(10,30,60,0.1); 
}

/*.reflection {
  position: absolute;
  top: 50px;
  left: 50px;
  background: rgba(255,255,255,0.8);
  width: 50px;
  height: 50px;
  -moz-border-radius: 999px 400px;
	-webkit-border-radius: 999px 400px;
	-khtml-border-radius: 999px 400px;
	border-radius: 999px 400px;
}*/

.bulb-middle-1 
{
  margin: -30px auto 0 auto;
  /*width: 190px;*/ 
  width: 35%;
  height: 0; 
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 55px solid #E7E7E7;
}

.bulb-middle-2 {
   /* margin: -22px auto 0 auto;*/
  /*width: 178px; */
    width: 27%;
    height: 0; 
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 50px solid #E7E7E7;
}

.bulb-middle-3 {
  /*margin: -20px auto 0 auto;*/
  /*width: 182px;*/ 
  width: 22.5%;
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 30px solid #E7E7E7;
}

.bulb-bottom {
  /*width: 184px;*/
  width: 20.5%;
  /*height: 65px;*/
  /*margin: -8px auto 0 auto;*/
  padding: 0;
  -moz-border-radius: 0 0 999px 999px;
	-webkit-border-radius: 0 0 999px 999px;
	-khtml-border-radius: 0 0 999px 999px;
	border-radius: 0 0 999px 999px;
  background: #E7E7E7;
  box-shadow: inset 0px -10px 14px -7px rgba(10,30,60,0.1); 
  -moz-box-shadow: inset 0px -10px 14px -7px rgba(10,30,60,0.1); 
  -webkit-box-shadow: inset 0px -10px 14px -7px rgba(10,30,60,0.1);
}

.base { position:relative; z-index: 2; }

.screw-top {
  /*margin: -150px auto -4px auto;*/
  padding: 0;
  /*width: 132px; */
  width: 20%;
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 21px solid #D3D3D3;
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
}

.screw-a {
  background: #DDD;
  /*width: 150px;*/
  width: 27.5%;
  /*height: 15px;*/
  -moz-border-radius: 999px;
	-webkit-border-radius: 999px;
	-khtml-border-radius: 999px;
	border-radius: 999px;
  margin: -1px auto 0px;
  padding: 0;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  
  box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5); 
  -moz-box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5);  
  -webkit-box-shadow: inset 0px -2px 10px 0px rgba(10,30,60,0.2), 
    inset -20px 0px 60px -20px rgba(0,0,0,0.5);
  
}

.screw-b {
  background: #D9D9D9;
  /*width: 135px;*/
  width: 25%;
  /*height: 15px;*/
  margin: -1px auto 0px;
  padding: 0;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  
  box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5); 
  -moz-box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5);  
  -webkit-box-shadow: inset -15px 0px 55px -20px rgba(0,0,0,0.5);
  
}

.screw-c {
  margin: -1px auto 0px;
  padding: 0;
  /*width: 78px; */
  width: 20%;
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 20px solid #DDD;
  -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

.screw-d {
  margin: 0 auto;
  padding: 0;
  /*width: 15px; */
  width: 5%;
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 15px solid #444;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

/*.night #light {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}*/

.bulb-top, .bulb-bottom {
   -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.bulb-middle-1, .bulb-middle-2, .bulb-middle-3 {
   -webkit-transition: border 0.5s ease-in-out;
    -moz-transition: border 0.5s ease-in-out;
    -o-transition: border 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
}

/*.night .bulb-top, .night .bulb-bottom { background: #FE3; }
.night .bulb-middle-1 {	border-top: 55px solid #FE3; }
.night .bulb-middle-2 {	border-top: 50px solid #FE3; }
.night .bulb-middle-3 {	border-top: 30px solid #FE3; }*/