<div class="footer">
<?php
$menuFooterLogoImageValue = s4cConfigValue('menuFooterLogoImage', '');
$menuFooterLogoLinkValue = s4cConfigValue('menuFooterLogoLink', 'https://www.disit.org/');
$menuFooterLogoAltValue = s4cConfigValue('menuFooterLogoAlt', 'Universita degli Studi di Firenze');
$dashboardFooterLogoImageValue = s4cConfigValue('dashboardFooterLogoImage', '');
$dashboardFooterLogoLinkValue = s4cConfigValue('dashboardFooterLogoLink', $domainLink);
$dashboardFooterLogoAltValue = s4cConfigValue('dashboardFooterLogoAlt', 'DISIT');
?>
  <div class="footerNavRow-1">
	  <div class="UNIFIfooterLogo">
		  <?php if ($menuFooterLogoImageValue !== '') : ?>
		  <a href="<?php echo s4cHtmlAttr($menuFooterLogoLinkValue); ?>" target="_blank" class="footerLogo"><img id="unifiLogo" src="<?php echo s4cHtmlAttr($menuFooterLogoImageValue); ?>" alt="<?php echo s4cHtmlAttr($menuFooterLogoAltValue); ?>"></a>
		  <?php else : ?>
		  <?php include('snap4city-unifi-footer-logo-PA.html');?>
		  <?php endif; ?>
	  </div>
	  <div class="S4CfooterLogo">
		  <?php if ($dashboardFooterLogoImageValue !== '') : ?>
		  <a href="<?php echo s4cHtmlAttr($dashboardFooterLogoLinkValue); ?>" target="_new" class="footerLogo"><img src="<?php echo s4cHtmlAttr($dashboardFooterLogoImageValue); ?>" alt="<?php echo s4cHtmlAttr($dashboardFooterLogoAltValue); ?>"></a>
		  <?php else : ?>
		  <?php include('snap4city-footer-logo-PA.html');?>
		  <?php endif; ?>
	  </div>
  </div>
  <div class="footerNavRow-2">
		<div id="footerPolicyId" class="footerNavColumn">
			<ul class="secondary-menu">
			  <li class="footerNavMenu"><a href='<?php echo $privacyPolicyLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $privacyPolicyLinkName ?></a></li>
			  <li class="footerNavMenu"><a href='<?php echo $cookiesPolicyLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $cookiesPolicyLinkName ?></a></li>
			  <li class="footerNavMenu"><a href='<?php echo $termsAndConditionsLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $termsAndConditionsLinkName ?></a></li>
			  <li class="footerNavMenu"><a href='<?php echo $contactUsLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $contactUsLinkName ?></a></li>
			</ul>
		</div>
  </div>
</div><!-- GRIDSTER chiude qui inglobando il Footer -->