<div class="footer">
  <div class="footerNavRow-1">
	  <div class="UNIFIfooterLogo">
		  <?php include('snap4city-unifi-footer-logo-PA.html');?>
	  </div>
	  <div class="S4CfooterLogo">
		  <?php include('snap4city-footer-logo-PA.html');?>
	  </div>
  </div>
  <div class="footerNavRow-2">
		<div id="footerPolicyId" class="footerNavColumn">
			<ul class="secondary-menu">
			  <li class="footerNavMenu"><a href='<?php echo $privacyPolicyLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $privacyPolicyLinkName ?></a></li>
			  <li class="footerNavMenu"><a href='<?php echo $cookiesPolicyLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $cookiesPolicyLinkName ?></a></li>
			  <li class="footerNavMenu"><a href='<?php echo $termsAndConditionsLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $termsAndConditionsLinkName ?></a></li>
			  <li class="footerNavMenu"><a href='<?php echo $contactUsLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $contactUsLinkName ?></a></li>
			</ul>
		</div>
  </div>
</div><!-- GRIDSTER chiude qui inglobando il Footer -->