<hr id="horizontalFooterLine" style="height:1px;width:75%;border:none;color:#333;background-color:#333;margin-bottom:-10px;" />
<div class="footerNavRow">
    <div id="firstColumnFooter" class="footerNavColumn">
        <!-- empty -->
    </div>
    <div id="footerPolicyId" class="footerNavColumn">
        <ul class="menu nav">
            <li class="footerNavMenu"><a href='<?php echo $privacyPolicyLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $privacyPolicyLinkName ?></a></li>
            <li class="footerNavMenu"><a href='<?php echo $cookiesPolicyLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $cookiesPolicyLinkName ?></a></li>
            <li class="footerNavMenu"><a href='<?php echo $termsAndConditionsLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $termsAndConditionsLinkName ?></a></li>
            <li class="footerNavMenu"><a href='<?php echo $contactUsLink ?>' target="_blank" style="font-size:13px;color:black;font-weight: bold;" title=""><?php echo $contactUsLinkName ?></a></li>
        </ul>
    </div>
    <div id="footerLogoId" class="footerNavColumn">
        <div id="footerLogoImg" style="width:68%;float:right;">
            <a title='<?php echo $domainLinkName ?>' href='<?php echo $domainLink ?>' target="_new" class="footerLogo"><img src="/dashboardSmartCity/img/applicationLogos/disitLogoTransparent.png" alt="Mountains" style="width:100%"></a>
        </div>
    </div>
</div>