* {
	box-sizing: border-box;
}

form {
    margin: 100px auto;
    min-width: 300px;
    min-height: 680px;
    position: absolute;
    background-color: #ffffff;
    font-family: Montserrat;
    padding: 33px;
    width: 1565px;
    padding-bottom: 32px;
}

#div_email {
    width: 32%;
    left: 1015px;
    position: absolute;
    top: 38px;
    background: lightgray;
}

#div_navigation_btns {
    position: relative;
    left: 679px;
    top: -17px;
    width: 173px;
    z-index: 1001;
}

#email_label {
    width: 314px;
    position: absolute;
    font-size: 14px;
    top: 17px;
    left: 44px;
}

#email_image {
width: 50px;
    left: -3px;
    position: relative;
}

#href_email {
    left: 357px;
    top: 17px;
    font-size: 14px;
    position: absolute;
}

body {
	background-color: #f1f1f1;
}


li.warning {
	width: 550px;
}


#warninglist {
	list-style: initial;
	margin: 11px;
	padding: 6px;
	display: grid;
	grid-template-columns: 70px 40px 70px;
	grid-gap: 10px;
	display: block;
	position: absolute;
	left: 710px;
	top: 48px;
}

p.instructor{
	    position: relative;
    top: -57px;
    background: cadetblue;
    padding: 20px;
    width: 102%;
    left: -16px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    font-family: Montserrat;
}



h1 {
	text-align: center;
}

input {
	padding: 10px;
	width: 84px;
	font-family: Montserrat;font-weight:400; font-size: 14px;
	border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
/* input.invalid { */
/* 	background-color: #ffdddd; */
/* } */
input.submit {
	width: 84px;
	position: relative;
	top: 14px;
	left: 565px;
}

/* Hide all steps by default: */
.tab {
	left: 190px;
	position: absolute;
	width: 1462px;
	top: 97px;
}

button {
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#submit_button {
	background-color: #4CAF50;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
	font-family: 'Montserrat';
}

#prevBtn {
background-color: #bbbbbb;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    width: 190px;
    left: 625px;
}

/* Make circles that indicate the steps of the form: */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #4CAF50;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 70px 40px 70px;
	grid-gap: 10px
}

#example {
	top: 44px;
	left: 17px;
	padding: 7px;
	left: 291px;
	position: absolute;
}

select {
	width: 70px
}

li.relative {
	position: relative
}


.label {
	color: white;
	padding: 8px;
	font-family: Arial;
}

#sheet_name {
	left: 381px;
	top: -136px;
	width: 360px;
}



#span_label_succeess {
	position: absolute;
	width: 955px;
	top: 15px;
	left: 0px;
}

.success {
	/* background-color: #4CAF50; */
	color: black;
	font-family: 'Raleway';
} /* Green */
.info {
	background-color: #2196F3;
} /* Blue */
.warning {
	background-color: #ff9800;
} /* Orange */
.danger {
	background-color: #f44336;
} /* Red */
.other {
	background-color: #e7e7e7;
	color: black;
} /* Gray */
div.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    text-align: center;
    border-collapse: collapse;
    left: 20%;
    position: absolute;
    top: 31%;
    width: 58%;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
	border: 2px solid #AAAAAA;
	padding: 3px 2px;
}

.divTable.blueTable .divTableBody .divTableCell {
font-family: Montserrat;font-weight:400; font-size: 14px;
}

.divTable.blueTable .divTableRow:nth-child(even) {
	background: #D0E4F5;
}

.divTable.blueTable .divTableHeading {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 1px solid #444444;
}

.divTable.blueTable .divTableHeading .divTableHead {
font-family: Montserrat;font-weight:bold; font-size: 14px;
	text-align: center;
	border-left: 0px solid #D0E4F5;
}

.divTable.blueTable .divTableHeading .divTableHead:first-child {
	border-left: none;
}

.blueTable .tableFootStyle {
font-family: Montserrat;font-weight:400; font-size: 14px;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
}

.blueTable .tableFootStyle {
	font-family: Montserrat;font-weight:400; font-size: 14px;
}

.blueTable .tableFootStyle .links {
	text-align: right;
}

.blueTable .tableFootStyle .links a {
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}

.blueTable.outerTableFooter {
	border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
	padding: 3px 5px;
}
/* DivTable.com */
.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}